html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 20px;
}

.google_logo{
    width: 200px;
}

header, footer, main{
    display: grid;  
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
}

main {
    grid-template-rows: 2fr 1fr 1fr;
}

main button {
    grid-row: 3;
}

.search_button {
    grid-column: 5;
}

.lucky_button {
    grid-column: 6 / span 3;
    justify-self: left;
}

img {
    grid-column: 5 / span 4;
    justify-self: center;
}

.header_gmail {
    grid-column: 9 / 10;
}

.header_images {
    grid-column: 11 / 12;
}

a {
    border: 1px solid black;
}